@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  margin: 0;
  padding: 0px 50px;
}

.flex {
  display: flex;
}

.align-items {
  align-items: center;
  z-index: 10;
}
.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.no-underline {
  text-decoration: none;
}

.aboreto-regular {
  font-family: "Aboreto", serif;
  font-weight: 200;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #333;
  color: #fff;
  padding: 5px 0 0 2%;
}

.blogTabs {
  margin-top: 0;
  margin-left: 8rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  left: 30%;
  font-family: aboreto-regular;
}

.tabs {
  color: rgb(0, 0, 0);
  margin: 0px;
  padding: 1% 35px;
  background-color: #fa7c21;
  font-size: 1.5rem;
}

.tabs:hover {
  color: #ffffff;
  text-decoration: underline 5px;
  cursor: pointer;
}

.blog-header {
  /* background-color: #fa7c21; */
  text-decoration: overline 2px #fa7c21;
  max-width: 30ch;
  margin: auto;
  padding: 9px 30px;
  border-radius: 5%;
  font-family: aboreto-regular;
  font-size: 1em;
  border-style: outset;
}

.magnifying-glass {
  width: 25%;
  height: 20%;
  border-color: #ffffff;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left: 40%;
}
.icon {
  max-width: 40 px;
  max-height: 40px;
  padding: 10px 20px;
}

footer {
  display: flex;
  align-items: center;
}

/**/

@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

/* Some positioning and ratios */
.sticky-container {
  max-width: 270px;
  position: relative;
}

.sticky-outer {
  display: flex;
  padding-top: 92.5925926%;
  position: relative;

  width: 100%;
}

.sticky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Shadow behind the sticky note */
.sticky:before {
  box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.25);
  content: "";
  width: 90%;
  left: 5px;
  height: 75%;
  position: absolute;
  top: 30%;
}

/* The sticky note itself */
.sticky-content {
  background: linear-gradient(
    180deg,
    rgba(187, 235, 255, 1) 0%,
    rgba(187, 235, 255, 1) 12%,
    rgba(170, 220, 241, 1) 75%,
    rgba(195, 229, 244, 1) 100%
  );
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kalam", cursive;
  font-size: 1.25rem;

  clip-path: url(#stickyClip);
}

/* Position the sticky nicely, so it looks better */
html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.container-inner {
  width: 50%;
  margin: 25px;
}

/* Add responsiveness 
@media screen and (min-width: 640px) {
  .sticky-content {
    font-size: 1.5rem;
  }
  .container-inner {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .sticky-content {
    font-size: 1.5rem;
  }
  .container-inner {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .sticky-content {
    font-size: 1.875rem;
  }
  .container-inner {
    width: 25%;
  }
}

:root {
  --duration: 10s;
  --size: 80vw;
  --characters: 14;
  --font-size: 22px;
  --delay-character: 0.2s;
  --text-color-hover: #ff8489;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background: url(https://img.freepik.com/vector-gratis/fondo-abstracto-blanco_23-2148806276.jpg?size=626&ext=jpg)
    no-repeat center;
  background-size: cover;
}

.frame {
  width: var(--size);
  height: var(--size);
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
  border: 2px #fbfbfb solid;
  position: relative;
  box-shadow: inset 0 0 0 20px white;
  background: url(https://images.unsplash.com/photo-1488161628813-04466f872be2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80)
    no-repeat center;
  background-size: cover;
  transition: ease all 0.3s;
  &:hover {
    box-shadow: inset 0 0 0 0 white;
    border: 2px #f9f9f9 solid;
    cursor: pointer;
    .text {
      mix-blend-mode: difference;
      span {
        color: var(--text-color-hover);
      }
    }
  }
  .text {
    transform: translate(
      calc(calc(var(--font-size) * -1) / 2),
      calc(calc(var(--font-size) * -1) / 2)
    );
    position: relative;
    height: 100%;
    transition: ease all 0.3s;
  }
  span {
    font-size: var(--font-size);
    display: inline-block;
    text-align: center;
    width: var(--font-size);
    animation: frameMove var(--duration) linear infinite;
    position: absolute;
    transition: ease all 0.3s;
    @for $i from 1 through 52 {
      &:nth-of-type(#{$i}) {
        animation-delay: calc(var(--delay-character) * #{$i});
      }
    }
  }
}
@keyframes frameMove {
  0% {
    top: 0;
    left: 0;
    transform: rotate(0deg);
  }
  24% {
    top: 0;
    left: 100%;
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  49% {
    top: 100%;
    left: 100%;
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  74% {
    top: 100%;
    left: 0%;
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  99% {
    top: 0%;
    left: 0%;
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*/
