@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:wght@300&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  margin: 0;
  padding: 0% 5%;
  /*background-color: rgb(248, 245, 245);*/
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.flex {
  display: flex;
}

.align-items {
  align-items: center;
  z-index: 10;
}
.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.no-underline {
  text-decoration: none;
}

.aboreto-regular {
  font-family: "Aboreto", serif;
  font-weight: 200;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #333;
  color: #fff;
  padding: 1% 0 0 2%;
}

.blogName {
  font-size: 1.5em;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
  padding: 15px 20px;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links li {
  display: inline;
  margin-top: 0;
  margin-left: 15rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  left: 30%;
  font-family: aboreto-regular;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.nav-links li:hover {
  color: #ffffff;
  text-decoration: underline 5px #fa7c21;
  cursor: pointer;
}

/* Hamburger menu (hidden on larger screens) */
.hamburger {
  font-size: 24px;
  cursor: pointer;
  display: none; /* Hidden by default */
}

.hamburger:hover {
  opacity: 50%;
}
body {
  font-family: "Cormorant Garamond", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  font-family: "Cormorant Garamond", serif;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 20px;
  margin: 30px 0;
  border: 2px solid #080808;
  border-radius: 4px;
}
button {
  width: 100%;
  padding: 10px;
  background: #fa7c21;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background: #000000;
}
form {
  border: #fa7c21 solid 20px;
  padding: 10%;
  padding-top: 10px;
}
.copyright {
  display: inline-flex;
  justify-content: space-around left;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 2px;
  margin-left: 14%;
  cursor: pointer;
}

.instagram-icon:hover,
.youtube-icon:hover,
.tiktok-icon:hover,
.facebook-icon:hover {
  opacity: 50%;
}

.instagram-icon,
.youtube-icon,
.tiktok-icon,
.facebook-icon {
  max-width: 40 px;
  max-height: 40px;
  padding: 10px 20px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
